<div class="contact-wrapper">
<div class="reservation">
  <h1>Make A Reservation</h1>
  <form action='/contact' method="post">
    <label for="fname">First Name</label>
    <input type="text" name="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="lname">
    <label for="email">Email</label>
    <input type="email" name='email'>
    <label for="tel">Telephone #</label>
    <input type="tel">
    <label for="date">Date</label>
    <input type='date'>
    <label for="time">Time</label>
    <input type='time'>
    <label for="number">No. of guests</label>
    <input type="number" min='1' max ='20'>
    <label for="comments">Special Requests</label>
    <textarea name="comments" cols="50" rows="5"></textarea>
    <input id ='submit' type="button" name='Submit' value="Submit">
  </form>

</div>
<div class="directions">
  <h1>Directions</h1>
  <div id="map">

  </div>
  <script>
  function initMap() {
    var sangelOnCherry = {lat: 39.955944, lng: -75.166917};
    var options  = {
      zoom: 14,
      center: sangelOnCherry
    }
    var map = new google.maps.Map(document.getElementById('map'), options);
    var marker = new google.maps.Marker({
      position: sangelOnCherry,
      map: map,
      icon: 'http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png'
    });
    var infoWindow = new google.maps.InfoWindow({
      content: '<p class="greet"> Welcome to Sangel on Cherry</p><br>Phone: (215) 555-5309'
    });

    marker.addListener('click', function() {
      infoWindow.open(map, marker);
    });

  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ_LpeFnEQX9r6XxUP75z3L1I4aDZV9nc&callback=initMap">
</script>
  <!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDZ_LpeFnEQX9r6XxUP75z3L1I4aDZV9nc
       &q=1601+Cherry+Street+Philadelphia+PA&"></iframe> -->
</div>
</div>
