<div class="contact-wrapper">
<div class="reservation">
  <h1>Make A Reservation</h1>
  <form>
    <label for="fname">First Name</label>
    <input type="text" name="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="lname">
    <br>
    <label for="email">Email</label>
    <input type="email" name='email'>
    <label for="tel">Telephone #</label>
    <input type="tel">
    <label for="date">Date</label>
    <input type='date'>
    <label for="time">Time</label>
    <input type='time'>
    <label for="number">No. of guests</label>
    <input type="number">
    <label for="comments">Special Requests</label>
    <textarea name="comments" id="" cols="50" rows="5"></textarea>
  </form>
</div>
<div class="directions">
  <h1>Directions</h1>
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDZ_LpeFnEQX9r6XxUP75z3L1I4aDZV9nc
       &q=1601+Cherry+Street+Philadelphia+PA&"></iframe>
</div>
</div>
