<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  </head>
  <body>

<header>
  <img src="img/Sangel.png" alt="">
</header>
    <nav>
    <ul class="nav-desk">
      <li> <a href="/" >Home</a></li>
       <li><a href="/menu" >Menu</a></li>
      <li><a href="/contact" >Contact</a></li>
    </ul>
    <!-- burger menu -->
    <a href="#" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <!-- end burger memu -->
  </nav>

  <%= yield %>

    <footer>
      <p class = "name">Sangel On Cherry</p>
      <p>1601  Cherry Street, Philadelphia, PA19103</p>
      <p> Phone: (215) 555-SAND</p>
    </footer>
    <script src="/js/index.js"></script>
  </body>
</html>
