* {
  box-sizing: border-box;
}

/* NAV BAR STYLING */
ul.nav-desk {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c2b180;
  position: fixed;
  width: 100vw;
  top: 316px;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.3sem;
  grid-auto-columns: minmax(100px, auto);
}
.nav-desk a {
  display: block;
  color: #54331d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #99864e;
  color: white;
}

.active {
  background-color: #4CAF50;
}

/*header styling*/
header {
  background-color: #c2b180;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #c2b180;
  width: 100vw;
  font-family: 'Great Vibes' cursive;
}

@media screen and (max-width: 480px) {
    /* change header to burger menu on smaller screens */
  .burger {
    display: block;
    width: 3em;
    height: 3em;
    margin: 4px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c2b180;
    position: relative;
    width: 100vw;
    /*top: 316px;
    left: 0;*/
  }
  .burger>span {
    display: block;
    background-color: #54331d;
    width: 50px;
    height: 0.5em;
    border-radius: 5px;
  }
  .burger>span:nth-child(2) {
    margin: 4px 0;
  }
  ul.nav-desk {
    display: none;
  }
